@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}
p,
a,
li,
h1,
h2,
h3,
h4,
h5 {
  padding-bottom: 0.5em;
}
button {
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  color: inherit;
}
li a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}
#connectMetamaskButton {
  display: flex;
}

body {
  font-family: "Raleway", sans-serif;
  /* height: 100vh !important;
  width: 100vw !important; */
}

.container-home {
  color: white;
  background-image: url(../img/wine-4963893_960_720.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.sale {
  border: none;
  background: rgb(3, 223, 3);
  cursor: pointer;
  padding: 0.5em;
  color: rgb(14, 80, 14);
  transition: all 0.15s ease-in-out;
}

.sale:hover {
  background: rgb(19, 182, 19);
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.sale:hover * {
  color: rgb(60, 216, 21);
}

.saleText {
  color: rgb(14, 80, 14);
}

.notsale {
  cursor: pointer;
  border: none;
  background: rgb(196, 11, 11);
  cursor: pointer;
  padding: 0.5em;
  color: rgb(94, 11, 11);
  transition: all 0.15s ease-in-out;
}

.notsale:hover {
  background: rgb(224, 13, 13);
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.notsale:hover * {
  color: rgb(121, 5, 5);
}

.notsaleText {
  color: rgb(94, 11, 11);
}

.hide {
  display: none !important;
}

.form-input {
  background: transparent;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

.eth-icon::after {
  content: " ETH";
  font-size: 10px;
}

/* .eth-icon {
  width: 10px;
  position: absolute;
  left: 3px;
}

.eth-price {
  font-size: 16px;
  font-weight: 500;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inline {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.inline label,
.inline p {
  width: 100px;
  margin-right: 10px;
}

.inline input {
  width: 100%;
}

.note {
  font-size: 14px;
}

.topBar {
  padding: 1em;
}

.metamaskContainer {
  background: rgb(225 232 246 / 87%);
  border-radius: 7px;
  margin: 2em 1em;
  padding: 1em;
}
.active {
  font-weight: bold;
}

/* WINE */
.wineCard {
  min-width: 275px;
  overflow: hidden;
}

.imageContainer {
  padding: 0.5em;
  border-bottom: 1px solid rgb(88, 88, 88);
}

.imageContainer img {
  height: auto;
}

.textContainer {
  padding: 0.75em;
}

#pendingApproval {
  word-break: break-word;
}

.nft-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 460px) {
  .nft-container {
    justify-content: center;
  }
}
