@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}
p,
a,
li,
h1,
h2,
h3,
h4,
h5 {
  padding-bottom: 0.5em;
}
button {
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  color: inherit;
}
li a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}
#connectMetamaskButton {
  display: flex;
}

body {
  font-family: "Raleway", sans-serif;
  /* height: 100vh !important;
  width: 100vw !important; */
}

.container-home {
  color: white;
  background-image: url(../img/wine-4963893_960_720.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.sale {
  border: none;
  background: #333;
  cursor: pointer;
  color: rgb(224, 13, 13);

  transition: all 0.15s ease-in-out;
}

.sale:hover {
  background: rgb(224, 13, 13);
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.sale:hover * {
  color: rgb(150, 12, 12);
}

.saleText {
  color: rgb(38, 139, 13);
}

.notsale {
  cursor: pointer;
  border: none;
  background: #333;
  cursor: pointer;
  padding: 0.5em;
  color: rgb(60, 216, 21);
  transition: all 0.15s ease-in-out;
}

.notsale:hover {
  background: rgb(60, 216, 21);
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.notsale:hover * {
  color: rgb(38, 139, 13);
}

.notsaleText {
  color: rgb(150, 12, 12);
}

.hide {
  display: none !important;
}

.form-input {
  background: transparent;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

.eth-icon::after {
  content: " ETH";
  font-size: 10px;
}

/* .eth-icon {
  width: 10px;
  position: absolute;
  left: 3px;
}

.eth-price {
  font-size: 16px;
  font-weight: 500;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inline {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.inline label,
.inline p {
  width: 100px;
  margin-right: 10px;
}

.inline input {
  width: 100%;
}

.note {
  font-size: 14px;
}

.topBar {
  padding: 1em;
}

.metamaskContainer {
  background: rgb(225 232 246 / 87%);
  border-radius: 7px;
  margin: 2em 1em;
  padding: 1em;
}
.active {
  font-weight: bold;
}

/* WINE */
.wineCard {
  min-width: 275px;
  overflow: hidden;
}

.imageContainer {
  padding: 0.5em;
  border-bottom: 1px solid rgb(88, 88, 88);
}

.imageContainer img {
  height: auto;
}

.textContainer {
  padding: 0.75em;
}

#pendingApproval {
  word-break: break-word;
}

.nft-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: start;
}

@media (max-width: 460px) {
  .nft-container {
    justify-content: center;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.price-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px;
  color: #000;
}

.modal-body {
  display: flex;
  padding: 2px 16px;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-footer {
  padding: 2px 16px;
  color: #000;
}

#btnNewPrice {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.price-label {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 5px;
}

.price-label span {
  font-size: 30px;
  padding-bottom: 5px;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
}

.price-container label {
  flex: 1;
  margin-bottom: 5px;
}

.price-container input,
.price-container p {
  border: none;
  box-shadow: none;
  background: white;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  width: 80%;
  height: 30px;
  flex: 0;
  border-bottom: 1px solid #000;
}

.price-container input:focus {
  outline: none;
}

.btn {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.btn h2 {
  display: inline;
  font-weight: lighter;
}

.btnprice {
  background: #333;
}

.btnprice:hover {
  background: gold;
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.btnprice:hover * {
  color: goldenrod;
}

.btnprice h2 {
  color: gold;
}

.btnconfirm {
  background: #333;
}

.btnconfirm:hover {
  background: gold;
  box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.btnconfirm:hover * {
  color: goldenrod;
}

.btnconfirm h2 {
  color: gold;
}
